
<div class="container">
    <h1 class="cart-heading">Facturation</h1>
                            
    <div class="row bs-wizard" style="border-bottom:0;">
        
        <div class="col-xs-3 bs-wizard-step complete">
          <div class="text-center bs-wizard-stepnum">RECAPITULATIF</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
    
        </div>
        
        <div class="col-xs-3 bs-wizard-step complete">
          <div class="text-center bs-wizard-stepnum">ADRESSE</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          
        </div>
        
        <div class="col-xs-3 bs-wizard-step active">
          <div class="text-center bs-wizard-stepnum">FACTURATION</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          
        </div>
        
        <div class="col-xs-3 bs-wizard-step disabled">
          <div class="text-center bs-wizard-stepnum">CONFIRMATION</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          
        </div>
    
    </div> 
    
    <h6>1. Votre résumé de commande</h6>
      <div class="row">
        
        <div class="col-lg-12 col-md-12">
            <div class="your-facturation">
              <div class="your-order-table table-responsive">
                  <table>
                      <thead>
                          <tr>
                              <th class="product-name">Produits</th>
                              <th class="product-quantity">Quantité</th>
                              <th class="product-total">Total</th>
                          </tr>							
                      </thead>
                      <tbody *ngFor="let article of articles; let i = index;">
                          <tr class="cart_item">
                              <td class="product-name">
                                  {{article?.name}}
                              </td>
                              <td class="product-quantity">
                                 {{qty.qty[i]}}
                              </td>
                              <td class="product-total">
                                  {{article?.price}}
                              </td>
                          </tr>
                      </tbody>
                      <tfoot>
                          <tr class="cart-subtotal">
                              <th>Sous total</th>
                              <td>{{nbarticles}}</td>
                              <td>{{total}}</td>
                          </tr>
                          <tr class="order-total">
                              <th><span class="amount">Total</span></th>
                              <td><strong><span class="amount">{{articles.length}}</span></strong>
                              <td><strong><span class="amount">{{total}}</span></strong>
                              </td>
                          </tr>								
                      </tfoot>
                  </table>
    
              </div>
            </div>
        </div>
    
      </div>
    
    <h6>2. RECAPITULATIF DE L’ADRESSE FACTURATION</h6>
    <div class="row">
        
        <div class="col-lg-12 col-md-12">
            <div class="your-facturation">
              <address>
                {{client.lastname}} {{client.firstname}}<br> 
                {{client.address1}}<br>
                {{client.postalcode}} {{client.city}}<br>
              </address>
            </div>
        </div>
    </div>
    
    <h6>2. POINT RELAIS</h6>
    <div class="row">
        
        <div class="col-lg-12 col-md-12">
          <div class="your-facturation">
            <p>Choix du point relais</p>
            <form [formGroup]="boutiqueForm" *ngFor="let agence of Agences">
              <div class="your-facturation">
                <input type="radio" formControlName="boutique" value="{{agence?.id}}" >
                <address>
                  {{agence?.nom}}<br> 
                  {{agence?.adresse}}<br>
                  {{agence?.cp}} {{agence?.ville}}<br>
                  distance : {{ agence?.distance}}
                </address>
              </div>
              <div class="cart-total">
                <input type="submit" value="Validation de la réservation">
            </div>
            </form>
          </div>
        </div>
    </div>
    
    
    </div>