<header>
  <div class="recherche">
    <span routerLink="/">{{ title }}</span>
    <a routerLink="/panier"><span class="w3-badge w3-red" *ngIf="nbarticles != 0">{{nbarticles}}</span><i class="fa fa-shopping-bag"></i></a>
  </div>
  <ul class="nav justify-content-center">
    <li class="nav-item" *ngFor="let category of categories">
      <a
        class="nav-link"
        href="/category/{{ category?.id }}"
        routerLinkActive="active"
        >{{ category?.nom }}</a
      >
    </li>
  </ul>
</header>
