<div class="container">
  <div class="search">
    <input
      class="form-control col-md-4"
      type="search"
      placeholder="Recherche"
      aria-label="Search"
      [(ngModel)]="search"
    />
    <button class="btn btn-outline-info col-md-1" (click)="getSearch(search)">
      <i class="fa fa-search"></i>
    </button>
  </div>
  <div class="row">
    <figure
      class="imageproduct col-md-3 col-sm-6 mb-4"
      *ngFor="
        let article of articles
          | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
      "
    >
      <div class="image">
        <img src="{{ article?.photoUrl }}" alt="image du produit" />
        <a routerLink="/article/{{ article?.id }}" class="add-to-cart"
          >Voir le détail</a
        >
      </div>
      <figcaption>
        <h3>{{ article?.name }}</h3>
        <div class="price">{{ article?.price }}€</div>
      </figcaption>
    </figure>
  </div>
</div>

<ngb-pagination
  [collectionSize]="articles?.length"
  [(page)]="page"
  [maxSize]="5"
  [rotate]="true"
  [ellipses]="false"
  [boundaryLinks]="true"
></ngb-pagination>
