<div class="container">
<div class="row">
    <div class="col-lg-12 col-md-12">
      <h6 class="my-4">Erreur de stock</h6>
      <div class="your-facturation">
        <p>
          Un des articles de votre commande n'est plus en stock, merci de bien vouloir nous excuser
          de la gêne occasionée. Merci de bien vouloir contacter directement en boutique.
        </p>
        <button
              type="button"
              class="btn btn-primary pull-right"
              routerLink="/"
              class="button-return"
            >
              Retour au catalogue
            </button>
      </div>
    </div>
  </div>
</div>