<div class="container">
    <div class="row" > 
        <figure class="imageproduct col-md-3 col-sm-6 mb-4" *ngFor="let article of articles; let i of index">
            <div class="image">
              <img
                src="{{article?.photoUrl}}"
                alt="Image du produit"
              />
              <a routerLink="/article/{{article?.id}}" class="add-to-cart">Voir le détail</a>
            </div>
            <figcaption>
              <h3>{{article?.name}}</h3>
              <div class="price">{{article?.price}}€</div>
            </figcaption>
          </figure>
    </div>
</div>